{% for monster in monsters %}
    <div class="card mb-2">
        <div class="card-header">
            <span class="fw-bold">{{ monster.name }} &middot;</span>
            <span class="fw-light">by {{ monster.author }}</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{ monster.get_short_description }}</p>
            {% if monster.image %}
                <div class="text-center">
                    <img class="img-fluid" src="{{ monster.image.url }}" alt="{{ monster.name }}"
                         style="max-height: 250px">
                </div>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <p class="m-0">
                <a href="{{ monster.get_absolute_url }}">View</a>
                {% if monster.author == user %}
                    | <a href="{% url 'monsters-monster_edit' monster.id %}">Edit</a>
                    | <a href="{% url 'monsters-monster_delete' monster.id %}">Delete</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}
{% include 'includes/paginator.html' with page_obj=monsters %}
