Django==4.0
django-allauth==0.47.0
django-crispy-forms==1.13.0
crispy-bootstrap5==0.6
Pillow==8.4.0
pip-tools==6.4.0
black==21.12b0
environs[django]==9.4.0
psycopg2-binary==2.9.3
gunicorn==20.1.0
cloudinary==1.28.0
django-cloudinary-storage==0.3.0
