{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{{ monster.name }}</h1>
    <p>Author: <a href="{% url 'monsters-monster_author_list' monster.author %}">{{ monster.author }}</a>
    </p>
    {% if monster.treat_like %}
        <p>Treat like: {{ monster.treat_like }}</p>
    {% endif %}
    {% if monster.special_attacks.all %}
        <p>Special attacks:
            {% for special_attack in monster.special_attacks.all %}
                <strong class="fw-bold d-inline">{{ special_attack.name }}</strong>{% if not forloop.last %}
                ,
            {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <p>{{ monster.description }}</p>
    {% for special_attack in monster.special_attacks.all %}
        <p class="fw-bold">{{ special_attack.name }}:
            <span class="fw-normal d-inline">{{ special_attack.description }}</span>
        </p>
    {% endfor %}
    {% if monster.image %}
        <div class="text-center">
            <a href="{{ monster.image.url }}">
                <img src="{{ monster.image.url }}" alt="{{ monster.name }}"
                     class="img-thumbnail" style="max-height: 500px">
            </a>
        </div>
    {% endif %}
    <hr/>
    {% if monster.author == user %}
        <p>
            <a href="{% url 'monsters-monster_edit' monster.id %}">Edit</a> |
            <a href="{% url 'monsters-monster_edit' monster.id %}">Delete</a>
        </p>
    {% endif %}
    <p>Back to <a href="{% url 'monsters-monster_list' %}">Monster List</a></p>
{% endblock %}
