{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>{{ monster.name }}</h1>
        {% if monster in request.user.liked_monsters.all %}
            <span class="badge rounded-pill bg-success">Liked</span>
        {% endif %}
    </div>
    <p>Author: <a href="{% url 'monsters-monster_author_list' monster.author %}">{{ monster.author }}</a></p>
    {% if monster.treat_like %}
        <p>Treat like: {{ monster.treat_like }}</p>
    {% endif %}
    {% if monster.special_attacks.all %}
        <p>Special attacks:
            {% for special_attack in monster.special_attacks.all %}
                <strong class="fw-bold d-inline">{{ special_attack.name }}</strong>{% if not forloop.last %}
                ,
            {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <p>{{ monster.description }}</p>
    {% for special_attack in monster.special_attacks.all %}
        <p class="fw-bold">{{ special_attack.name }}:
            <span class="fw-normal d-inline">{{ special_attack.description }}</span>
        </p>
    {% endfor %}
    {% if monster.image %}
        <div class="text-center">
            <a href="{{ monster.image.url }}">
                <img src="{{ monster.image.url }}" alt="{{ monster.name }}"
                     class="img-thumbnail" style="max-height: 500px">
            </a>
        </div>
    {% endif %}
    <hr/>
    <p>
        {% if monster in request.user.liked_monsters.all %}
            <a href="{% url 'monsters-monster_unlike' monster.id %}">Unlike</a>
        {% else %}
            <a href="{% url 'monsters-monster_like' monster.id %}">Like</a>
        {% endif %}
        {% if monster.author == user %}
            | <a href="{% url 'monsters-monster_edit' monster.id %}">Edit</a>
            | <a href="{% url 'monsters-monster_delete' monster.id %}">Delete</a>
        {% endif %}
    </p>
    <p>Back to <a href="{% url 'monsters-monster_list' %}">Monster List</a></p>
{% endblock %}
