{% extends "base.html" %}

{% block header_class_extra %}mb-auto{% endblock header_class_extra %}

{% block content %}
    <div class="">
        <div class="text-center mx-auto" style="width: 24rem;">
            <h1>OSR Homebrew</h1>
            <p class="lead">A place to share homebrew content for lovers of the Old School Renaissance tabletop
                role-playing games.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'monsters-monster_list' %}">Monster List</a>
            </p>
        </div>
    </div>
{% endblock %}
